<div class="container">
    <form id="upform" name="form" class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-push-2 col-md-push-3 col-lg-push-2" action="/post/article" method="post" enctype="multipart/form-data">
        <div id="tdiv" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <span class="col-xs-2 col-sm-2 col-md-1 col-lg-1">TITRE : </span><input type="text" name="title" class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        </div>
        <div id="uploads" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <span class="col-xs-2 col-sm-2 col-md-1 col-lg-1">ICONE : </span><input type="file" name="icone" class="col-xs-10 col-sm-10 col-md-11 col-lg-11">
            <!--<span class="col-xs-2 col-sm-2 col-md-1 col-lg-1">EJS : </span><input type="file" name="page" class="col-xs-10 col-sm-10 col-md-11 col-lg-11">-->
            <div id="fortiny" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <textarea name="article"></textarea>
                <!--<span class="col-xs-2 col-sm-2 col-md-1 col-lg-1">TOTAL :</span><input id="num" type="text" name="num" value="1" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">-->
            </div>
            <span class="col-xs-2 col-sm-2 col-md-1 col-lg-1">IMAGE : </span><input type="file" name="img1" class="col-xs-10 col-sm-10 col-md-11 col-lg-11">
        </div>
        <button id="moreup" type="button" class="btn btn-success btn-md col-md-2">Images++</button>
        <div class="row"></div>
        <button id="send" type="button" class="btn btn-success btn-md col-md-2">Envoyer</button>
        <button id="view" type="button" class="btn btn-success btn-md col-md-2" onclick="javascript:verif(this.form);">voir article</button>
    </form>
    <script src="/js/articleinjs.js"></script>
</div>