<div id="myart" class="container">
    <div id="corpse" class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
            <h1 class="text-center"><%= title %></h1>
            <p class="intro text-justify text"><i>Je précise que cet article est rédigé pendant une période de réflexion ce qui peux m’amener à être dur, mais tout ce qui est écrit n’est que mon avis que je me suis fait au cours de mes expériences vécues.</i></p>
            <p class="intro text-justify text">
                Lorsqu’on est étudiant, on voudrait pouvoir se débrouiller seul, pouvoir devenir responsable, ne pas voir sa famille se serrer la ceinture pour pendant que l’on profite d’un appartement, de manger, de boire de notre côté.<br/>
                Seulement, le système Français ne le permet pas pour tout le monde.<br/><br/>
                Imaginez que c’est déjà quasi-impossible pour des gens qui vont faire des études à quelques cinquantaines de kilomètres de chez-eux et ils doivent flirter avec des abonnements SNCF hors-de-prix en comptant les temps de trajets et les retards (qui ne sont pas négligeables !).
                Alors essayez de vous représenter lorsque jeune part à 400 kilomètres de chez lui, et qu’il atterri à…Paris !<br/>
                Vous l’aurez deviné, c’est actuellement mon cas.<br/><br/>
                Tout a commencé l’année dernière, en 2014, lorsque j’ai passé mon Bac S, ayant quelques difficultés dans certaines matières et malgré des cours particuliers pendant l’année, je me suis retrouvé au rattrapage, pour au final réussir à le décrocher en faisant passer ma note de maths de 06 à 16 et la science de l’ingénieur de 09 à 10 (oui, oui je sais…c’est le talent !).<br/><br/>
                J’ai donc obtenu mon Baccalauréat avec une moyenne finale de 10.5.<br/><br/>
                Oui vous êtes en train de vous dire « mais c’est tout naze ! », eh bien non, moi j’en suis fier. Pourquoi ?<br/>
                Parce que certains de mes professeurs durant ma scolarité me pensaient bon à rien, capable de rien, mais attention :<br/>
                Ils n’étaient pas tous comme ça, je tiens à adresser de profonds remerciements aux professeurs qui se sont battus pour que je fasse mon maximum, pour que je réussisse, eux méritent leurs statut de professeurs, car ils ont le côté humains de la profession.<br/><br/>
                Les autres devraient devenir chercheurs. Ils n’ont pas de pédagogie, ce qui est quand même fondamental lorsque l’on veut apprendre aux autres.
                Enfin, pour revenir sur mon expérience, j’ai, entendez bien, été refusé dans TOUTES les écoles que j’ai demandé (Je suis en informatique.), à part une et comme part hasard c’est la seule où j’ai pu montrer ce que je savais faire en informatique, musique, et montrer qui j’étais. alors que les autres écoles, impossible d’avoir ne serait-ce que leur secrétariat au téléphone.<br/><br/>
                Malheureusement, l’école où j’ai été accepté ne concernait pas réellement le domaine d’étude que je vise (programmation, développement), je me suis donc intéressé à la faculté, mais en voyant les retours sur la qualité de l’enseignement et la manière (archaïque) d’étudier, par exemple en programmation, les examens se font sur papier, SUR PA-PIER !<br/>
                Le seul réel projet de fin d’année dans le web c’est de faire une page web en HTML/CSS, donc sans serveur, sans base de données, autrement dit, c’est nul, ce n’est pas avec ce « niveau d’exigence » qu’on peut devenir développeur.<br/><br/>
                Imaginez donc l’état dans lequel je me trouvais, pas d’endroit où faire mes études, aucune alternative, j’étais bloqué.
                Et là je me suis souvenu que je m’étais inscrit sur une école toute jeune d’informatique, révolutionnaire, mais avec un diplôme non reconnu par l’état.<br/>
                Mais pour tout vous avouer, je me suis dit « vu le niveau des gens qui passent des diplômes d’état (en dehors des ingénieurs bien évidemment) autant regarder ce que c’est. »<br/><br/>
                Cette école, c’est 42, elle est beaucoup plus connue maintenant.
                Me voilà donc parti pour passer la piscine de 42, qui se passe merveilleusement bien, malgré ma moyenne finale de 4,73 (oui je m’en souviens ^^)
                j’ai donc été accepté.
                Alors pour en parler brièvement, cette piscine ça à été l’extase, j’ai appris énormément de choses, mais j’ai surtout appris à travailler avec acharnement, sans rien lâcher ! Et j’ai également appris à apprendre !<br/><br/>
                <i>« Et croyez moi, aller là bas, ça vous change un homme…mais aussi une femme (parce qu’elle sont belles ! Et qu’elles sont bien présentes à 42 !) »</i>
            </p>
        </div>
    </div>
</div>